.formulario{
  margin: 10px 0px 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid black;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
} 

p{
  color: grey;
}

button{
  margin: 5px;
}

p{
  font-family: sans-serif;
  font-size: medium;
}